﻿@model RecruitmentTask.Core.Model.PageData

@{
    ViewBag.Title = "Employee List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div>
     <form method="get" action="@Url.Action("ByJobItle", "Employees")">

         <select name="jobTitle">
             <option value="">All</option>
             @foreach (var item in @Model.JobTitles)
             {
                 if (@item == @Model.JobTitle)
                 { 
                     <option value="@item" selected="selected">@item</option>
                 }
                 else
                 {
                     <option value="@item">@item</option>
                 }
             }
         </select>

         <div>
             <button type="submit" class="btn">GO</button>
         </div>

     </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Job Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
        <tr>
            <td>
                <a href="@Url.Action("Index", "EmployeeDetails",  new { id = @item.ID, firstName = @item.FirstName, lastName = @item.LastName })">
                    @item.ID
                </a>
            </td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.JobTitle</td>
        </tr>

        }
    </tbody>
</table>
<br />
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (Model.Current > 1)
        {
            <li class="page-item">

                <a class="page-link" href="
                   @if (string.IsNullOrEmpty(@Model.JobTitle))
                   {
                        @Url.Action("Index", "Employees", new { page = Model.Current - 1 })
                   }
                   else
                   {
                        @Url.Action("ByJobItle", "Employees", new { jobTitle = Model.JobTitle,page = Model.Current - 1 })
                   }
                   " 
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        }
        @if (Model.PageSize == Model.Employees.Count)
        {
            <li class="page-item">
                <a class="page-link" href="
                    @if (string.IsNullOrEmpty(@Model.JobTitle))
                   {
                        @Url.Action("Index", "Employees", new { page = Model.Current + 1 })
                   }
                   else
                   {
                        @Url.Action("ByJobItle", "Employees", new { jobTitle = Model.JobTitle,page = Model.Current + 1 })
                   }
                   
                   " aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            }
        </ul>
</nav>