﻿@model RecruitmentTask.Core.Model.EmployeeDetails

@{
    ViewBag.Title = "Employee Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th scope="col" colspan="2">@Model.FirstName @Model.LastName</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>JobTitle</td>
            <td>@Model.JobTitle</td>
        </tr>
        <tr>
            <td>PhoneNumber</td>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <td>Salary</td>
            <td>@Model.Salary</td>
        </tr>
        <tr>
            <td>Day Of Employment</td>
            <td>@Model.DayOfEmployment</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@Model.Address.City @Model.Address.Street @Model.Address.HouseNumber</td>
        </tr>
        <tr>
            <td>URLS</td>
            <td>
                <ul>
                    @foreach (var item in Model.Links)
                    {
                        <li><a href="@item.Href">@item.Href</a></li>
                    }
                </ul>
            </td>
        </tr>
    </tbody>
</table>
<br />
<nav aria-label="Page navigation example">
    <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@Request.UrlReferrer" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Back to previous page</span>
                </a>
            </li>
        </ul>
</nav>